<div class="product-more">

    <div class="collection-title-tag">
        <h2>{{ collection.title }}</h2>
        <p>{{ 'product.more.vendor' | t: vendor: product.vendor }}</p>
    </div>
    
    <div class="collection-content wrapper">
        {% render 'collection-list', collection: collection, exclude: exclude, title: 'You might also like...', content: false, show_button: true %}
    </div>
</div>