<button class="slider-button prev js-slider-button-prev" type="button">
    {% render 'icon-arrow-left', svg: 'icon-arrow-left.svg', alt: 'Previous', class: 'current-color-stroke' %}
  </button>
  <button class="slider-button next js-slider-button-next" type="button">
    {% render 'icon-arrow-right', svg: 'icon-arrow-right.svg', alt: 'Next', class: 'current-color-stroke' %}
  </button>