<div id="footer-global">
    <div class="footer-image-band"></div>
    <div class="footer-inner text-white">
        <div class="footer-left">
            <a class="link-logo" href="{{ routes.root_url }}">
                {%- assign shop_title = 'general.shop.title' | t -%}
                {% render 'logo', svg: 'logo.svg', alt: shop_title, class: 'logo-main' %}
            </a>
            {% render 'nav-list', handle: 'main-menu', class: 'main-menu-list' %}
            {% render 'nav-list', handle: 'footer', class: 'secondary-menu-list' %}
        </div>
    
        <div class="footer-right">
            {% assign copyright_date = 'now' | date: '%Y' %}
            <span class="copyright-info">
                {{ 'footer.bottom.copyright' | t: date: copyright_date }}
                </span>
            {% render 'currency-picker' %}
        </div>
    </div>
</div>