<div id="page-404" class="wrapper valign-center">
    <h1>{{ 'general.404.error_code' | t }}</h1>

    {%- assign search_label = 'general.404.title' | t -%}
    {% render 'search-form', label: search_label %}

    <a class="button" href="{{ routes.root_url }}">
        {{ 'general.404.back' | t }}
    </a>
</div>